
body{
  background-image: url("https://media.istockphoto.com/photos/brown-wood-texture-dark-wooden-abstract-background-picture-id1137996207?k=6&m=1137996207&s=612x612&w=0&h=Eli8yvjTkBpkkT7QZj_hd2wbdKojeNHcxmo209SN1MM=");

  background-attachment: fixed;
  background-size: cover;
  color: white;
}
img {
  width:150px;
  height: 100px;
}
#one {
  font-family: fantasy;
}
.title {
  color: blueviolet;
}
.panel{
    color:white;
    opacity: 0.8;
}
h1 {
    text-align: center;
}
#pi {
  margin-bottom: 2%;
}
#nav{
  margin-bottom: 2%;
    position: absolute;
    z-index: 5;
    width: 100%;
    background-color:blue;
}
.navbar{
    padding: 10px 0;
}

.navbar-brand{
    font-weight: bolder;
    font-size: 40px;
    padding-left: 20px;
    color: white;
    text-decoration: none;
}
.navbar-brand:hover{
    color: white;
}
.navbar-brand span{
    color: tomato;
    font-family: 'Lobster', cursive;
    font-style: italic;
}
.navbar-dark .navbar-brand{
    color: #dcdde1;
}
.nav-link{
    font-weight: bolder;
    padding-left: 20px;
    font-size: 25px;
    color: black;

}
.nav-link:hover{
    color: white;
    border-radius: 1px;
}
.active a{
  color: tomato;
}
.active a:hover{
    color: white;
}
